.teacher-question-container {
  margin: 24px auto;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: #f0f0f0;
  margin-bottom: 60px;
}

.logout-button-top {
  padding: 5px 10px;
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.logout-button-top:hover {
  /* Hover effect for the logout buttons */
  background-color: #c9302c;
}

.header {
  font-size: 34px;
  color: #333333;
}

.question-list {
  display: flex;
  flex-direction: column;
}

.question {
  margin-bottom: 60px;
}

.question-number {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 16px;
}

.question-textarea-input,
.alternative-textarea-input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%; /* Use full width */
  resize: vertical; /* Allow vertical resizing */
}

.alternative-label {
  font-size: 16px;
  font-weight: bold;
}

.correct-alternative .alternative-label {
  color: #0b7e31;
}

.button-container {
  /* Styles for the container of the second logout button and save button */
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  padding: 10px 0;
}

.save-button {
  background-color: #00bb00; /* Green color */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px; /* Adjust padding for a larger button */
  font-size: 26px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* Add margin on both sides */
  margin-bottom: 40px;
}

.logout-button-bot {
  background-color: #cc0000; /* Red color */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px; /* Adjust padding for a larger button */
  font-size: 26px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* Add margin on both sides */
  margin-bottom: 40px;
}


.save-button:hover {
  background-color: #00dd00; /* Darker red color on hover */
}

.logout-button-bot:hover, .logout-button-top:hover {
  background-color: #ee0000
}

.media-type-group {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.media-type-label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px;
}

.media-type-radio {
  margin-right: 8px;
}

.media-file-input {
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
  width: 220px;
}

.media-source-input {
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
  width: 220px;
}