/* CSS for the questions-header */
.questions-header {
  text-align: center;
  margin-bottom: 20px;
}

/* Additional CSS for the header title and subtitle */
.questions-header-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.questions-header-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.questions-header h1 {
  font-size: 48px;
  font-weight: normal;
}

.questions-header h2 {
  font-size: 28px;
  font-weight: normal;
}

.questions-header p {
  font-size: 20px;
}

.entity {
  font-size: 20px;
  margin: 30px
}

.questions-entities-list {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}